[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
deprecated = "*"
requests = "*"
thoth-common = "*"
thoth-storages = "*"
toml = "*"
prometheus-flask-exporter = "*"
prometheus-client = "*"
gunicorn = "*"
connexion = {extras = ["swagger-ui"],version = "*"}
flask = "*"
flask-cors = "*"
flask-script = "*"
grpcio = "<1.28"
grpcio-opentracing = "*"
grpcio-tools = "<1.28"
jaeger-client = "*"
opentracing-instrumentation = "*"
sentry-sdk = {extras = ["flask"],version = "*"}
more-itertools = "*"

[dev-packages]
grpcio = "<1.28"
grpcio-tools = "<1.28"

[pipenv]
allow_prereleases = false

[requires]
python_version = "3.6"
