[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
thoth-common = "*"
toml = "*"
prometheus-flask-exporter = "*"
prometheus-client = "*"
gunicorn = "*"
connexion = {extras = ["swagger-ui"],version = "*"}
flask = "*"
flask-cors = "*"
flask-script = "*"

[dev-packages]

[pipenv]
allow_prereleases = false


[requires]
python_version = "3.6"
